<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="../styles/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/jquery-ui.min.css">
<link rel="stylesheet" href="../styles/datatables.min.css">
<script type="text/javascript" src="../scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../styles/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="../scripts/datatables.min.js"></script>
</head>
<body>

	<!-- Nulis table didalam body -->
	<div class="table-responsive">
		<table id="idTableTransactionKiri" class="table" >
			<thead>
				<tr>
					<td>Nama</td>
					<td>Jenis</td>
					<td>Harga</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody id="idTblTransaction">
				<tr th:each="item : ${keybarang}">
					<td th:text="${item.namabarang}">NamaBarang</td>
					<td th:text="${item.jenisbarang}">JenisBarang</td>
					<td th:text="${item.hargabarang}">Harga</td>
					<td>
						<button type="button" class="btn btn-primary clBtnAddTransaction"
							th:data-id="${item.id}" th:data-nmbarang="${item.namabarang}"
							th:data-jnsbarang="${item.jenisbarang}"
							th:data-ktpembuat="${item.kotapembuat}"
							th:data-jmlbarang="${item.jmlbarang}"
							th:data-hrgbarang="${item.hargabarang}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>

				</tr>

			</tbody>
		</table>
	</div>

	<script>
	$(document).ready(function(){
		
        $('#idTableTransactionKiri').DataTable();
		 $('.clBtnAddTransaction').click(function() {
			 reIndexTable();
		        var vCtr = 0;
		        var VCompare = true;
		        var vJmlBarang = 1;
		        var vSubTotal=0;
		        var vTotalHarga=0;
				var vJahitHtml ='';
				var vIdBarang=$(this).attr('data-id');
				//var vNamaBarang=$(this).attr('data-nmbarang');
			    vSubTotal=JSON.parse($(this).attr('data-hrgbarang'));
				var vStrHtmlTrasaksi = '';
				
				function TotalHarga()
				{
	                 $('.clSubTotal').each(function (i, d) {
	                	 debugger;
	                	 vtemp=parseInt($(this).val());
	                	 vTotalHarga=vtemp+vTotalHarga;
	                     });
	                 $('#idtotal').val(vTotalHarga);
				}
				
             $('.clIdBarang').each(function (i, d) {
                 
                 if (vIdBarang == parseInt($(this).val())) {
                     VCompare = false;
                     
                     vJmlBarang = $(this).parent().parent().find('td input:text.clJmlBarang').val();
                     vJmlBarang++;
                     $(this).parent().parent().find('td input:text.clJmlBarang').val(vJmlBarang);
                     vSubTotal = vJmlBarang * vSubTotal;
                     $(this).parent().parent().find('td input:text.clSubTotal').val(vSubTotal);
                     TotalHarga();
                     debugger;
                 }
             });
             
             if (VCompare == false) {
                 debugger;
                 vCtr = 1;
                 VCompare = true;
             } else {
                 debugger;
                 vCtr = 0;
             }
				
             if(vCtr == 0){
             	
				debugger;
				vJmlBarang = 1;
                 vStrHtmlTrasaksi = vStrHtmlTrasaksi +
                     '<tr>' +
                         '<td>' +
                            '<input type="text" class="clNmBarang"  value=" ' + $(this).attr('data-nmbarang') + '" readonly>' +
                             //'<input type="text" class="clNmBarang" dataID="' + vIdBarang + '" value=" ' + $(this).attr('data-nmbarang') + '" readonly>' +
                             '<input type="text" class="clIdBarang" name="detailtransaction[0].idbarang" value="' + $(this).attr('data-id') + '" readonly>' +
                            // '<input type="text" name="TrxDetail[0].BarangID"  value="' + vIdBarang + '" >' +
                         '</td>' +
                         '<td><input type="text" class="clJmlBarang" name="detailtransaction[0].jml" value=" ' + vJmlBarang + '"readonly ></td>' +
                         'debugger;'+
                         '<td><input type="text" class="clSubTotal" value=" ' + vSubTotal + '" readonly></td>' +
                         '<td><button type = "button" class="btn btn-danger clBtnRemoveBarang"  > - </button></td>' +
                     '</tr>';
                 $('#idTblBodyTransactionKanan').append(vStrHtmlTrasaksi);
                 reIndexTable();
                 TotalHarga();
             }
             
             
    		 $('.clBtnRemoveBarang').click(function(){
                 $('.clSubTotal').each(function (i, d) {
                	 debugger;
                   	 vTotalHarga=vTotalHarga-parseInt($(this).val());
                   	 $('#idtotal').val(vTotalHarga);
                   	 debugger;
                 });
                
    			$(this).parent().parent().remove();
    			reIndexTable();

    		 });
    		 
    		 
             function reIndexTable() {
                 var rowCount = $('#idTblBodyTransactionKanan tr').length;
                 debugger;
     
                 if (rowCount > 0) {
                   //  var idx = 0;
                     $.each($("#idTblBodyTransactionKanan").find("tr"), function (idx, val) {
                         //alert(idx);
                         var vIdBarang = $(this).find(":input[name*='.idbarang']");
                         var vJml=$(this).find(":input[name*='.jml']");
                         debugger;
                         $(vIdBarang).attr("name", vIdBarang.attr("name").replace(/\[.*?]\s?/g, "[" + idx + "]"));
                         $(vJml).attr("name", vJml.attr("name").replace(/\[.*?]\s?/g, "[" + idx + "]"));
                         //idx += 1;
                     });
                 }
             }
    		 
    		 
		}); 
		 
	});
	
				
	</script>

</body>
</html>