<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="../styles/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/jquery-ui.min.css">
<script type="text/javascript" src="../scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../styles/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../scripts/jquery-ui.min.js"></script>
</head>
<body>
<form class="form-horizontal" id="idFrmTransaction">
	<div class="row">
		<!-- kolom sebelah kiri -->
		<div class="col-md-6">


				<div class="form-group">
					<label for="nofaktur" class="col-sm-2 control-label"><br>
					<br>No. Faktur</label>
					<div class="col-sm-6">
						<br> <br> <input type="text" class="form-control" id="idnofaktur" name="nofaktur">
					</div>
				</div>

				<div class="form-group">
					<label for="tanggal" class="col-sm-2 control-label">Tanggal</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="idtglpenjualan" name="tglpenjualan">
					</div>
				</div>

				<div class="form-group">
					<label for="namakasir" class="col-sm-2 control-label">Nama Kasir</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="idnamakasir" name="namakasir">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<input type="text" class="form-control" id="idcari" placeholder="cari">
					</div>
				</div>


			<!-- tempat untuk jahit table -->
			<div id="idDivTableTransactionKiri"></div>

		</div>

		<!-- kolom sebelah kanan -->
		<div class="col-md-6">
			<br> <br>

			<!-- tempat untuk jahit table -->

			<div class="table-responsive" id="idDivTableTransactionKanan">
					<table class="table">
			<thead>
				<tr>
					<td>Nama</td>
					<td>Jumlah</td>
					<td>Subtotal</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody id="idTblBodyTransactionKanan">


			</tbody>
		  </table>
		  </div>


				<div class="form-group">
					<label for="totalharga" class="col-sm-2 control-label">Total harga</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="idtotal"  name="total" readonly>
					</div>
				</div>

				<div class="form-group">
					<label for="bayar" class="col-sm-2 control-label">Bayar</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="idbayar">
					</div>
				</div>

				<div class="form-group">
					<label for="sisa" class="col-sm-2 control-label">Sisa</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="idreturncash" name="returncash" readonly>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-6 col-sm-10">
						<button type="button" class="btn btn-default" id="idBtnTransaction">Submit</button>
					</div>
				</div>
		</div>
	</div>
</form>

	<script>
		$(document).ready(function() {
		
            $("#idtglpenjualan").datepicker({
                minDate: 0, 
                dateFormat: "mm/dd/yy"
            }).datepicker("setDate", new Date());

			$.ajax({
				url : './listbarangtransaction',
				method : 'Get',
				success : function(model) {

					$('#idDivTableTransactionKiri').html(model);
				},
				error : function(model) {
					debugger;
				}
			});
			
		
			$('#idbayar').keypress(function(e) {
			    if(e.which == 13) {
			    	var vBayar=parseInt(document.getElementById("idbayar").value);
			    	var vTotal=parseInt(document.getElementById("idtotal").value);
			    	debugger;
			        if(vBayar==0)
			        	{
			        	debugger;
			        	alert('Tidak Boleh Kosong');
			        	}
			        else if(vBayar >= vTotal)
			        {
			        	debugger;
			        	var vSisa= vBayar-vTotal;
			        	$('#idreturncash').val(vSisa);

			        }
			        else
			        {
			        	debugger;
			        	alert('Uang Kurang');
			        }
			    }
			});
			
			$('#idBtnTransaction').click(function(){
				var vDatatransaction = $('#idFrmTransaction').serialize();
				debugger;
				$.ajax({
					url:'./savetransaction',
					method:'POST',
					data:vDatatransaction,
					success: function(model){
						debugger;
					},
					error:function(model){
						debugger;
					}
				})
			});
		});
	</script>
</body>
</html>