<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- Nulis table didalam body -->
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<td>No</td>
					<td>Nama</td>
					<td>Jenis</td>
					<td>Kota</td>
					<td>Jumlah</td>
					<td>Harga</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody id="idTblBarang">
				<tr th:each="item : ${keybarang}">
					<td th:text="${item.id}">No</td>
					<td th:text="${item.namabarang}">NamaBarang</td>
					<td th:text="${item.jenisbarang}">JenisBarang</td>
					<td th:text="${item.kotapembuat}">Kota</td>
					<td th:text="${item.jmlbarang}">JumlahBarang</td>
					<td th:text="${item.hargabarang}">Harga</td>
					<td>
						<button class="btn btn-primary">
							<span class="glyphicon glyphicon-search"></span>
						</button>
						<button class="btn btn-warning">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button class="btn btn-danger">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>

				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>